@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  margin: 0;
  font-family: "Bebas Neue", sans-serif; 
  overflow-x: hidden;
}

/* HERO */
.hero {
  background-color: #141414;
  height: 100vh;
}

.rtriangle {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.hero img {
  position: absolute;
  height: 100vh;
  right: 0;
  z-index: 2;
}

.hero-text {
  height: 100%;
  font-size: 27rem;
  line-height: .9;
  left: 20px;
  top: 0px;
}

.fortnite {
  position: absolute;
  color: #A9A9A9;
  z-index: 0;
}

.item {
  position: absolute;
  top: 250px;
  z-index: 1;

  color: #141414;        
  text-shadow: -5px 5px 0 white,
      5px 5px 0 white,
      5px -5px 0 white,
      -5px -5px 0 white;
}

.shop {
  position: absolute;
  color: #A9A9A9;
  top: 500px;
  z-index: 0;
}

/* BUNDLES */
.bundles{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: .9;  
}

.bundles img {
  width: 100vw;
  height: 100%;
}

.bundles1, .bundles2, .bundles3 {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 27rem;
}

.bundles1 {
  top: 10%;
}

.bundles2 {
  top: 40%;
  color: #141414;        
  text-shadow: -5px 5px 0 white,
      5px 5px 0 white,
      5px -5px 0 white,
      -5px -5px 0 white;
}

.bundles3 {
  top: 70%;
}

.bundles-container{
  position: relative;
}

.bundle-cards{
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  align-items: center;
}

.bundle-card {
  display: flex;
  align-items: center;
  justify-content: start;

  z-index: 1;
  width: 24rem;
  height: 50rem;

  height: 50rem;
  border-radius: 10px;
  overflow: hidden;
  color: white;

  background: linear-gradient(0deg, rgb(49, 31, 52) 0%, rgba(136, 0, 255, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(7px);
  transition: .5s all;

  img {
    position: absolute;
    object-fit: cover;
    width: auto;
    height: 80%;
    opacity: 0.9;
    transition: all 1s ease-in-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    transition: all .4s ease-in-out;
  }

  p, a {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  &:hover h2 {
    inset: auto auto 25% 30px;
    font-size: 3.5rem;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    position: absolute;
    opacity: 1;
    height: 100%;
  }
}

.cards {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
  justify-items: center;
  align-items: center;
}

.card {
  z-index: 1;
  width: 24rem;
  height: 30rem;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff22;
  background: linear-gradient(0deg, rgb(49, 31, 52) 0%, rgba(136, 0, 255, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  backdrop-filter: blur(7px);
  transition: .5s all;

  img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: all .7s ease-in-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: all .6s ease-in-out;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    inset: auto auto 78% 30px;
    font-size: 2.5rem;
    transition: all .3s ease-in-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    opacity: 1;
    width: 150%;
    height: 150%;
  }

}