@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  margin: 0;
  font-family: "Bebas Neue", sans-serif; 
}

/* HERO */
.hero {
  background-color: #141414;
  height: 100vh;
}

.rtriangle {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.hero img {
  position: absolute;
  height: 100vh;
  right: 0;
  z-index: 2;
}

.hero-text {
  height: 100%;
  font-size: 27rem;
  line-height: .9;
  left: 20px;
  top: 0px;
}

.fortnite {
  position: absolute;
  color: #A9A9A9;
  z-index: 0;
}

.item {
  position: absolute;
  top: 250px;
  z-index: 1;

  color: #141414;        
  text-shadow: -5px 5px 0 white,
      5px 5px 0 white,
      5px -5px 0 white,
      -5px -5px 0 white;
}

.shop {
  position: absolute;
  color: #A9A9A9;
  top: 500px;
  z-index: 0;
}

/* BUNDLES */
.bundles{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: .9;
}

.bundles img {
  width: 100%;
  height: auto;
}

.bundles1, .bundles2, .bundles3 {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 27rem;
}

.bundles1 {
  top: 10%;
}

.bundles2 {
  top: 40%;
  color: #141414;        
  text-shadow: -5px 5px 0 white,
      5px 5px 0 white,
      5px -5px 0 white,
      -5px -5px 0 white;
}

.bundles3 {
  top: 70%;
}

.cards {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  background: radial-gradient(circle at center, white, gray);

  img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }

}